<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="catalognameConnectionString" connectionString="Data Source=192.169.34.32;Initial Catalog=catalogname;Persist Security Info=True;User ID=CT20141148867;Password=CT20141148867"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
      </system.web>
</configuration>